<h1> About Me</h1>
<p class="two"> Hello, my name is Kaleb Stanzak.
<br>I'm a {{timeString}} year Software Engineering student at Rochester Institute of Technology.
<br>I have experience with Python, Java, C, and C++.
<br>My work computer runs on Linux, so im also fairly familiar with using bash.
<br>I've worked on projects with groups and alone, though due to RIT privating / 
<br>deleting repositories after the class is over, not all the projects ive worked on are accessible.
<br>Despite that, ive made public copies of the projects I still have access to.
</p>
<br>
<h1>About this website</h1>
<p class="two">This is a single page website built in Angular 18 running off of a github page.
<br>It's mainly here as a place for my resume and a list of links to projects of mine
<br>The project page may take a second or two to load, it has to make GET requests to each projects api.github.com link for some of the data displayed.
<br>I spent about 2 months on and off working on this website, learning Angular inbetween classes
<br>If you'd like to review this websites code, this websites github page is  <a href="https://github.com/KalebStanzak/KalebStanzak.github.io" target="_blank">here</a>
</p>
