div.container{
    display:flex;
    background-color: rgb(61, 38, 71);   
    position: relative;
    width: 100%;
    overflow:hidden;
    justify-content: center;
    white-space: nowrap;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    
}
 div.bar{
    background-color: rgba(123, 105, 140, 1); 
    width: 23%;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: auto;
}
